<div class="products-list">
  <div class="products-detail">
    <div class="product-image">
      <img src="{{%image}}" height="120" width="120" />
    </div>
    <div class="product-specs">
      <h3>{{%Name%}}</h3>
      <p><span>Model Name:</span>{{%modelName%}}</p>
      <p><span>Model Number:</span>{{%modelNumber%}}</p>
      <p><span>Model Details:</span>{{%Description%}}</p>
      <p><span>Size:</span>{{%SIZE%}}</p>
      <p><span>Camera:</span>{{%CAMERA%}}</p>
    </div>
  </div>
  <div class="products-detail">
    <div class="product-info"><h4>Price: ${{%modelPrice%}}</h4></div>
    <div class="product-info"><h4>Color: {{%COLOR%}}</h4></div>
    <div class="product-info">
      <a href="/products?id={{%ID%}}" class="btn btn-secondary">Show Details</a>
    </div>
  </div>
</div>
